フォローリスト

<% @users.each do |user| %>
  <ul>
    <li>
      <%= link_to user_path(user) do %>
        <%= user.name %>
      <% end %>
    </li>
  </ul>
  <%= button_to "メッセージを送る", message_room_path(participant_user_id: user.id), method: :get %>
<% end %>