フォローリスト

<% @users.each do |user| %>
  <ul>
    <li>
      <%= link_to user_path(user) do %>
        <%= user.name %>
      <% end %>
    </li>
  </ul>
  <%= button_to "メッセージを送る", message_rooms_path(user), method: :post %>
<% end %>