<% if user.トレーナー? %>
  <div id= "SideBar">
    <ul class="list-group">
      <li class="list-group-item">
      {{ listItem }}
      </li>
    </ul>
  </div>
<% elsif user.トレーニー? %>
  <ul class="list-group">
    <li class="list-group-item">メッセージ
    <li class="list-group-item">契約トレーナー
    <li class="list-group-item">支払い履歴
    <li class="list-group-item">設定
    <li class="list-group-item">フォローリスト
    <li class="list-group-item">フォロワーリスト
  </ul>
<% end %>