<% if user.トレーナー? %>
  <div id="js-sidebar"></div>
<% elsif user.トレーニー? %>
  <div class="list-group">
    <a href="../test/index" class="list-group-item">メッセージ</a>
    <a href="#" class="list-group-item">契約トレーナー
    <a href="#" class="list-group-item">支払い履歴
    <a href="#" class="list-group-item">各種設定
    <a href="#" class="list-group-item">フォローリスト
    <a href="#" class="list-group-item">フォロワーリスト
  </div>
<% end %>