<% if user.トレーナー? %>
  <ul class="list-group">
    <li class="list-group-item">メッセージ</li>
    <li class="list-group-item">契約トレーニー</li>
    <li class="list-group-item">売上管理</li>
    <li class="list-group-item">設定</li>
    <li class="list-group-item">フォローリスト</li>
    <li class="list-group-item">フォロワーリスト</li>
    <li class="list-group-item">いいね数</li>
  </ul>
<% elsif user.トレーニー? %>
  <ul>
    <li>メッセージ
    <li>契約トレーナー
    <li>支払い履歴
    <li>設定
    <li>フォローリスト
    <li>フォロワーリスト
  </ul>
  <% end %>