<% if user.トレーナー? %>
  <div id="js-sidebar"></div>
<% elsif user.トレーニー? %>
  <ul class="list-group">
    <a href="../test/test" class="list-group-item">メッセージ</a>
    <a href="#" class="list-group-item">契約トレーナー</a>
    <a href="#" class="list-group-item">支払い履歴</a>
    <a href="#" class="list-group-item">各種設定</a>
    <a href="#" class="list-group-item">フォローリスト</a>
    <a href="#" class="list-group-item">フォロワーリスト</a>
  </ul>
<% end %>